$body-color: blue;
$container-width: 50%;
 
body {
  color: $body-color;
}

h1 {
  letter-spacing: 2px;
}

.container {
  max-width: 700px;
  min-width: 280px;
  padding-top: 20px;
}

.display {
  width: 200px;
}