$body-color: blue;
$container-width: 50%;

h1 {
  letter-spacing: 2px;
}

.container {
  max-width: 700px;
  min-width: 320px;
  padding-top: 20px;
}

.row {
  padding-top: 2em;
}

select {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.display {
  width: 200px;
}

.green-div {
  box-sizing: border-box;
  color: burlywood;
  // background-color: green;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
}

.white-div {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  font-size: 1.5em;
}